[submodule "am-kernels"]
	path = am-kernels
	url = git@github.com:ds-ds24/am-kernels.git
[submodule "fceux-am"]
	path = fceux-am
	url = git@github.com:ds-ds24/fceux-am.git
[submodule "nvboard"]
	path = nvboard
	url = git@github.com:ds-ds24/nvboard.git
