[submodule "am-kernels"]
	path = am-kernels
	url = git@github.com:NJU-ProjectN/am-kernels.git
[submodule "fceux-am"]
	path = fceux-am
	url = git@github.com:NJU-ProjectN/fceux-am.git
[submodule "nvboard"]
	path = nvboard
	url = git@github.com:NJU-ProjectN/nvboard.git
